@font-face {
  font-family: "Estedad-Black";
  src: url(../public/Fonts/Estedad-Black.ttf);
}
@font-face {
  font-family: "Estedad-Bold";
  src: url(../public/Fonts/Estedad-Bold.ttf);
}
@font-face {
  font-family: "Estedad-ExtraBold";
  src: url(../public/Fonts/Estedad-ExtraBold.ttf);
}
@font-face {
  font-family: "Estedad-ExtraLight";
  src: url(../public/Fonts/Estedad-ExtraLight.ttf);
}
@font-face {
  font-family: "Estedad-Light";
  src: url(../public/Fonts/Estedad-Light.ttf);
}
@font-face {
  font-family: "Estedad-Medium";
  src: url(../public/Fonts/Estedad-Medium.ttf);
}
@font-face {
  font-family: "Estedad-Regular";
  src: url(../public/Fonts/Estedad-Regular.ttf);
}
@font-face {
  font-family: "Estedad-SemiBold";
  src: url(../public/Fonts/Estedad-SemiBold.ttf);
}
@font-face {
  font-family: "Estedad-Thin";
  src: url(../public/Fonts/Estedad-Thin.ttf);
}


