/* -----------imports----------- */
@import "tailwindcss";
@import "./Fonts.module.css";
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";
@import "../node_modules/swiper/swiper.min.css";
/* @preline/select */
@source "../node_modules/@preline/select/*.js";
@import "../node_modules/@preline/select/variants.css";
@import "../node_modules/@preline/select/theme.css";
/* ----------------------------- */

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-body/6 font-Estedad-Regular;
  }
}

@theme {
  --color-body: #c33032;
  --color-primary: #194bf0;
  --color-secondary: #fdb713;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-evenly {
    @apply flex items-center justify-evenly;
  }

  .flex-end {
    @apply flex items-end justify-end;
  }

  .flex-right {
    @apply flex items-center justify-start;
  }

  .flex-left {
    @apply flex items-center justify-end;
  }

  .flex-around {
    @apply flex items-center justify-around;
  }

  .flex-top {
    @apply flex items-start justify-center;
  }
}

@layer components {
  .Btn-Group-1 {
    @apply w-fit h-fit text-nowrap inline-flex items-center gap-x-2 text-sm border rounded-lg focus:outline-hidden
    disabled:pointer-events-none transition-colors disabled:opacity-50;
  }

  .Btn-Group-2 {
    @apply p-1.5 inline-flex items-center border border-stone-300 text-[0.5rem] text-nowrap font-Estedad-SemiBold disabled:opacity-50 disabled:pointer-events-none rounded-full transition-colors;
  }

  .Logo-Marquee {
    @apply px-4 w-25 md:w-40 flex shrink-0 justify-center items-center;
  }
}
/* Fonts */
@theme {
  --font-Estedad-Black: "Estedad-Black";
  --font-Estedad-Bold: "Estedad-Bold";
  --font-Estedad-ExtraBold: "Estedad-ExtraBold";
  --font-Estedad-ExtraLight: "Estedad-ExtraLight";
  --font-Estedad-Light: "Estedad-Light";
  --font-Estedad-Medium: "Estedad-Medium";
  --font-Estedad-Regular: "Estedad-Regular";
  --font-Estedad-SemiBold: "Estedad-SemiBold";
  --font-Estedad-Thin: "Estedad-Thin";
}

/* ///////////////////////  sm  /////////////////////////// */

@media (width <= 48rem /* 768px */) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1000px);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

/* ///////////////////////  sm  /////////////////////////// */

/* ///////////////////////  md  /////////////////////////// */

@media (width >= 48rem /* 768px */) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1600px);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

/* ///////////////////////  md  /////////////////////////// */

/* ///////////////////////  lg  /////////////////////////// */

@media (width >= 64rem /* 1024px */) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1600px);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

/* ///////////////////////  lg  /////////////////////////// */

/* ///////////////////////  xl  /////////////////////////// */

@media (width >= 80rem /* 1280px */) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1600px);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

/* ///////////////////////  xl  /////////////////////////// */

@keyframes marquee-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(50% - 0.5rem));
  }
}

@keyframes marquee-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(50% - 0.5rem));
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-track-x,
  .marquee-track-y {
    animation-duration: 1ms;
    animation-iteration-count: 1;
  }
}

/* ------------------------------------Chat-Support----------------------------------- */

.support-ring {
  background: conic-gradient(
    transparent 0deg,
    #194bf0 70deg,
    transparent 120deg,
    transparent 180deg,
    #fdb713 250deg,
    transparent 300deg
  );

  border-radius: 9999px;

  animation: spin 3s linear infinite;

  filter: drop-shadow(0 0 6px #194bf0) drop-shadow(0 0 6px #fdb713);

  /* سوراخ کردن وسط رینگ */
  mask: radial-gradient(circle, transparent 62%, #000 68%);
  -webkit-mask: radial-gradient(circle, transparent 62%, #000 68%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*--------------------- swiper-2 Start --------------------- */

.swiper-pagination-bullet {
  @apply w-fit h-fit px-3 py-2 rounded-full text-center;
  line-height: 20px;
  color: #000;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/*--------------------- swiper-2 End --------------------- */


@keyframes marquee-x-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1600px);
  }
}